body {
	width: 100%;
	background-color: black;
	border-top: 8px solid rgba(255, 255, 255, .4);
	border-bottom: 8px solid rgba(255, 255, 255, .4);
	overflow: hidden;
}
/* pregame start up screens and animations -----------------*/
.startScreen {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,.6);
	z-index: 3;
}
.startPrompt {
	margin: 20% 25%;
	width: 50%;
	height: 30%;
	padding: 1%;
	background: url(../images/metal-box.png);
	position: absolute;
	border: 2px solid rgba(0, 255, 0, 1);
	border-radius: 3px;
	-webkit-box-shadow:  -7px 7px 15px 0px rgba(0,255,0,0.55);
	-moz-box-shadow:  -7px 7px 15px 0px rgba(0,255,0,0.55);
	box-shadow:  -7px 7px 15px 0px rgba(0,255,0,0.55);
}
.message-text {
	color: rgba(255, 255, 255, .8);
	font-size: 2.2em;
	text-align: center;
	line-height: 1.5;
	font-family: 'Audiowide', 'cursive';
	text-shadow: 4px 4px 1px rgba(50, 50, 50, .8);
}
.custom-button {
	width: 40%;
	height: 30%;
	margin: 0 auto;
	color: #FFF;
	padding: 2%;
	border: 5px outset lime;
	border-radius: 5px;
	background-color: rgba(0,0,0,.7);
	text-align: center;
	font-size: 2.5em;
	line-height: .7;
	font-family: 'Audiowide', 'cursive';
	text-shadow: 3px 3px 3px rgba(0, 255, 0, .7);
}
.gameStartCountdown3, .gameStartCountdown2, .gameStartCountdown1 {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	z-index: 4;
	display: none;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform: translateZ(0);
}
.large-text3, .large-text2, .large-text1 {
	color: #FFF;
	text-align: center;
	font-size: 10em;
	font-family: 'Audiowide', 'cursive';
	text-shadow: 3px 3px 3px rgba(0, 255, 0, .7);
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform: translateZ(0);
}
/* end of startup animations and sequences -----------------*/
h3, h4 {
	text-align: center;
	padding-top: 1%;
	line-height: 0.3;
	font-family: 'Audiowide', 'cursive'; 
	color: rgba(255, 255, 255, .8);
}
h6 {
	font-size: 6px;
	line-height: 0.2;
	font-family: 'Audiowide', 'cursive';
}
.sub-font-scale {
	font-size: 2em;
	padding-top: 5px;
}
.container {
	overflow: hidden;
}
.test {
	margin: 0 auto;
	width: 8.8%;
	color: white;
	margin: 0.7%;
	margin-left: 1.2%;
	display: inline-block;
	border: 2px solid rgba(0, 255, 0, 1);
	border-radius: 5px;
	-webkit-box-shadow: inset -7px 7px 15px 0 rgba(0,255,0,0.55);
	-moz-box-shadow: inset -7px 7px 15px 0 rgba(0,255,0,0.55);
	box-shadow: inset -7px 7px 15px 0 rgba(0,255,0,0.55);
}
.test:hover {
	border: 2px solid rgba(255, 0, 0, 1);
	-webkit-box-shadow: inset -7px 7px 15px 0 rgba(255,0,0,0.55);
	-moz-box-shadow: inset -7px 7px 15px 0 rgba(255,0,0,0.55);
	box-shadow: inset -7px 7px 15px 0 rgba(255,0,0,0.55);
}
.markers {
	color: silver;
	width: 100%;
	padding-top: 9%;
	font-family: 'Audiowide', 'cursive'; 
	text-align: center;
}
span {
	font-size: 0;
	width: 1%;
	background-color: yellow;
}
.board-container {
	margin: 0 auto;
	margin-left: 30.5%;
	margin-top: 5%;
	width: 80%;
	position: relative;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform: translateZ(0);
}	
.channel-right {
	width: 6%;
	height: 0;
	padding-bottom: 33%;
	float: right;
}
.channel-left {
	width: 8%;
	height: 0;
	padding-bottom: 33%;
	float: left;
}
.nav-bar {
	width: 100%;
	background: url("../images/bg_nav_metal.png");
	height: 0;
	padding-bottom: 5%;
}
.scoreboard {
	width: 100%;
	height: 0;
	padding-bottom: 11%;
}

#main-timer {
	margin: 0 auto;
	margin-top: 1%;
	width: 10%;
	border: 2px solid rgba(0, 255, 0, 1);
	border-radius: 3px;
	-webkit-box-shadow: inset -7px 7px 15px 0px rgba(0,255,0,0.55);
	-moz-box-shadow: inset -7px 7px 15px 0px rgba(0,255,0,0.55);
	box-shadow: inset -7px 7px 15px 0px rgba(0,255,0,0.55);
}
.timer-text {
	color: rgba(255, 255, 255, .7);
	padding: 1%;
	text-align: center;
	font-size: 1em;
	line-height: .7;
	font-family: 'Audiowide', 'cursive';
	text-shadow: 2px 2px 2px rgba(155, 155, 155, .7);
}
#p1-scorebox {
	width: 15%;
	margin-left: 5%;
	margin-top: 1%;
	float: left;
	border: 4px solid rgba(22, 120, 255, 1);
	border-radius: 10px;
	overflow: hidden;
	-webkit-box-shadow: inset -7px 7px 15px 0px rgba(13, 49, 99, 1);
	-moz-box-shadow: inset -7px 7px 15px 0px rgba(13, 49, 99, 1);
	box-shadow: inset -7px 7px 15px 0px rgba(13, 49, 99, 1);
}
#p1-score-name {
	width: 65%;
	float: left;
	padding-left: 5%;
	background: url("../images/bg_nav_metal.png");
	text-shadow: 3px 3px 5px rgba(22, 120, 255, 1);

}
#p1-score {
	width: 65%;
	padding-top: 2%;
	float: left;
	text-shadow: 2px 2px 2px rgba(22, 120, 255, 1);
}
#p1-timer-name {
	width: 35%;
	float: right;
	text-align: center;
	background: url("../images/bg_nav_metal.png");
	text-shadow: 3px 3px 5px rgba(22, 120, 255, 1);
}
#p1-timer {
	width: 35%;
	padding-top: 2%;
	float: right;
	text-shadow: 2px 2px 2px rgba(22, 120, 255, 1);
}
#p2-scorebox {
	width: 15%;
	margin-right: 5%;
	margin-top: 1%;
	float: right;
	border: 4px solid rgba(111, 50, 177, 1);
	border-radius: 10px;
	overflow: hidden;
	-webkit-box-shadow: inset -7px 7px 15px 0px rgba(83, 13, 159,1);
	-moz-box-shadow: inset -7px 7px 15px 0px rgba(83, 13, 159,1);
	box-shadow: inset -7px 7px 15px 0px rgba(83, 13, 159,1);
}
#p2-score-name {
	width: 65%;
	padding-right: 5%;
	float: right;
	text-align: right;
	background: url("../images/bg_nav_metal.png");
	text-shadow: 3px 3px 3px rgba(111, 50, 177, 1);
}
#p2-score {
	width: 65%;
	padding-top: 2%;
	float: right;
	text-shadow: 2px 2px 2px rgba(111, 50, 177, 1);
}
#p2-timer-name {
	width: 35%;
	float: left;
	text-align: center;
	background: url("../images/bg_nav_metal.png");
	text-shadow: 3px 3px 3px rgba(111, 50, 177, 1);
}
#p2-timer {
	width: 35%;
	padding-top: 2%;
	float: left;
	text-shadow: 2px 2px 2px rgba(111, 50, 177, 1);
}
#title {
	margin: 0 auto;
	width: 30%;
}
#title-text {
	color: rgba(150, 150, 150, .8);
	font-size: .7em;
	text-align: center;
	font-family: 'Audiowide', 'cursive';
	text-shadow: 3px 3px 1px rgba(50, 50, 50, .8);
}
/* board covers ----------------------------------------- */
.board-cover-left {
	position: absolute;
	width: 36.9%;
	height: 70%;
	background-color: rgba(0, 0, 0, .7);
	z-index: 2;
}
.board-cover-right {
	position: absolute;
	margin-left: 62.1%;
	width: 39.5%;
	height: 70%;
	background-color: rgba(0, 0, 0, .7);
	z-index: 2;
}

/* halftime show and fx -------------------------*/
.fxScreen, .fx-text, .fxScreenOpen, .player1Lead, .player2Lead, .playersTied, .wave1Start, .wave2Start, .decoration-bar, .wave1-bar, .fire-bar {
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-webkit-transform: translateZ(0);
}
.fxScreenOpen {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
}
.fxScreen {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
}

.fx-text, .player1Lead, .player2Lead, .playersTied, .wave1Start, .wave2Start {
	font-size: 5em;
	font-family: 'Audiowide', 'cursive';
	color: #FFF;
	text-align: center;
	text-shadow: 3px 3px 1px rgba(0, 255, 0, .7);
	display: none;
	z-index: 5;
}
.wave1Start {
	text-shadow: 3px 3px 1px rgba(0, 255, 0, .7);
}
.wave2Start {
	text-shadow: 3px 3px 1px rgba(255, 0, 0, .7);
}
.wave1-bar {
	width: 100%;
	margin-top: 20%;
	background-color: rgba(0,20,0,.7);
	border: 2px solid rgba(0,255,0,.5);
	-webkit-box-shadow:  0px 15px 1px 0px rgba(0,0,0,0.8);
	-moz-box-shadow:  0px 15px 1px 0px rgba(0,0,0,0.8);
	box-shadow:  0px 15px 1px 0px rgba(0,0,0,0.8);
	  -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -kthtml-transition: all 1s linear;
    transition: all 1s linear;
   display: none;
}
.decoration-bar {
	width: 100%;
	margin-top: 20%;
	background-color: rgba(0,0,0,.7);
	/*background: url(../images/fire.gif);*/
	border: 2px solid rgba(0,255,0,.3);
	-webkit-box-shadow:  0px 15px 1px 0px rgba(0,0,0,0.8);
	-moz-box-shadow:  0px 15px 1px 0px rgba(0,0,0,0.8);
	box-shadow:  0px 15px 1px 0px rgba(0,0,0,0.8);
	  -webkit-transition: all 2.5s linear;
    -o-transition: all 2.5s linear;
    -moz-transition: all 2.5s linear;
    -ms-transition: all 2.5s linear;
    -kthtml-transition: all 2.5s linear;
    transition: all 2.5s linear;
}
.fire-bar {
	width: 100%;
	background: url(../images/fire.gif);
  position: absolute;
  display: none;
  z-index: -1;
  overflow: hidden;

}
@media (min-width: 630px) { 
    h6 { font-size: .5em; line-height: .5;  } 
    h3, h4 { line-height: 0.6; }
    .test {border: 4px solid rgba(0, 255, 0, 1); }
    .test:hover {border: 4px solid rgba(255, 0, 0, 1); }
    .timer-text { font-size: 2em; }
    #title-text { font-size: 1.4em; }
    body { border-top: 15px solid rgba(255, 255, 255, .4); }
		body { border-bottom: 15px solid rgba(255, 255, 255, .4);}
}

@media (min-width: 900px) { 
    .scoreboard { padding-bottom: 8%; }
    #title-text { font-size: 1.9em; }
    .timer-text { font-size: 2.5em } 
}

@media (min-width: 1100px) { 
    h6 { font-size: 1.1em; line-height: .75; }
    h3, h4 { line-height: 1; } 
    .test {border: 5px solid rgba(0, 255, 0, 1); }
    .test:hover {border: 5px solid rgba(255, 0, 0, 1); }
    #title-text { font-size: 2em }}
}

@media (min-width: 1230px) { 
    #title-text { font-size: 2.5em }
}
/* responsive startup screen and --------- */
@media (min-width: 841px) and (max-width: 1080px) {
	.large-text3, .large-text2, .large-text1 {
		font-size: 8em;
	}
	.startPrompt {
		margin-left: 20%;
		width: 60%;
		height: 30%;
	}
	.message-text {
		font-size: 2.5em;
	}
	.custom-button {
		font-size: 2.9em;
	}
}

@media (min-width: 481px) and (max-width: 840px) {
	.large-text3, .large-text2, .large-text1 {
		font-size: 5em;
	}
	.startPrompt {
		margin-left: 20%;
		width: 60%;
		height: 25%;
	}
	.message-text {
		font-size: 1.5em;
	}
	.custom-button {
		font-size: 1.7em;
	}
}
@media (min-width: 0px) and (max-width: 480px) {
	.large-text3, .large-text2, .large-text1 {
		font-size: 2em;
	}
	.startPrompt {
		margin-left: 10%;
		width: 80%;
	}
	.message-text {
		font-size: 1em;
	}
	.custom-button {
		font-size: 1.2em;
	}
}
@media (max-width: 640px) {
	.test {
		border-radius: 2px;
		border: 2px solid rgba(0, 255, 0, .8);
	}
}