<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Quantico' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.animate-colors.min.js"></script>
	<script type="text/javascript" src="js/foundation.min.js"></script>
	<script type="text/javascript" src="js/mm-foundation-tpls-0.3.0.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/maincontroller.js"></script>
	<script type="text/javascript" src="js/boardcontroller.js"></script>

	<title>TicTacToe3001</title>
	<link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="TicTacToe3001">

	<div ng-controller="boardController" class="container">
		<div class="nav-bar">
			<div id="title"><h1 id="title-text">TicTacToe 3001</h1></div>
		</div>
		<div ng-controller="boardController" class="scoreboard">

	<div class="startScreen">
		<div class="startPrompt">
			<h3 class="message-text">The game begins when you click</h3>
			<div ng-click="startGame()" class="custom-button">Here</div>
		</div>
	</div>

	<div class="gameStartCountdown3"><h1 class="large-text3">3</h1></div>
	<div class="gameStartCountdown2"><h1 class="large-text2">2</h1></div>
	<div class="gameStartCountdown1"><h1 class="large-text1">1</h1></div>

	<div ng-show="halftimeShow" class="fxScreen">
		<div class="decoration-bar"><h1 class="fx-text">Halftime</h1></div>
	</div>

			<div id="p1-scorebox">
				<div id="p1-score-name"><h6>Score</h6></div>
				<div id="p1-timer-name"><h6>Timer</h6></div>	
				<div id="p1-score"><h3> {{ score1.length-1 }} </h3></div>
				<div id="p1-timer"><h3> {{ shotclock }} </h3></div>
			</div>
			<div id="p2-scorebox">
				<div id="p2-score-name"><h6>Score</h6></div>
				<div id="p2-timer-name"><h6>Timer</h6></div>	
				<div id="p2-score"><h3> {{ score2.length-1 }} </h3></div>
				<div id="p2-timer"><h3> {{ shotclock }}</h3></div>
			</div>
			<div id="main-timer"><h1 class="timer-text"> {{ timer }}</h1></div>
		</div>
		<div class="board-cover-left"></div>
		<div class="board-cover-right"></div>

		<div ng-controller="boardController" class="board-container">
			<div class="channel-left"></div>
			<div class="channel-right"></div>
			<div ng-repeat="box in boxrows track by $index" class="">
				<div ng-repeat="col in box track by $index" ng-click="makeMove($parent.$index, $index);" class="test"><h1 class="markers"><span style="opacity: 0">_</span>{{ col }}</h1></div>
			</div>
		</div>

	</div>

</body>
</html>