<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Quantico' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.animate-colors.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/foundation.min.js"></script>
	<script type="text/javascript" src="js/mm-foundation-tpls-0.3.0.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/maincontroller.js"></script>
	<script type="text/javascript" src="js/boardcontroller.js"></script>
	<script type='application/javascript' src='js/fastclick.js'></script>

	<title>TicTacToe3001</title>
	<link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="TicTacToe3001">
	<div ng-controller="boardController" class="container">
		<div class="nav-bar">
			<div id="title"><h1 id="title-text">TicTacToe 3001</h1></div>
		</div>

		<div class="scoreboard">

	<div class="startScreen">
		<div class="startPrompt">
			<div class="message-text">
				<h3>How to play:</h3>
				<p class="font-helper">
					The board consists of 24 playable squares, with only nine active at a time. The grid shifts throughout the match changing the active field of play.
				</p>
				<p class="font-helper">
					Players alternate turns placing their marker in an attempt to score 3-in-a-row.
					The game does not end on a score. A point is awarded and the match continues. Points can be score regardless of whether all three squares are active at the time.
				<p>
				<p class="font-helper">
					The match has two waves, with each round requiring a different set of skills. Wave 1 is 30 seconds long with the board shifting from left to right every 5 seconds. Wave 2 is 35 seconds long. After the first five seconds the board will shift every three seconds. The board now moves down and back requiring players to plan ahead.
				</p> 
				<div ng-click="startGame()" class="custom-button">BEGIN</div>
			</div>
		</div>
	</div>

	<div class="gameStartCountdown3"><h1 class="large-text3">3</h1></div>
	<div class="gameStartCountdown2"><h1 class="large-text2">2</h1></div>
	<div class="gameStartCountdown1"><h1 class="large-text1">1</h1></div>

	<div ng-show="introShow" class="fxScreenOpen">
		<div class="wave1-bar">
			<h1 class="wave1Start">WAVE 1: LOGIC</h1>
		</div>
	</div>

	<div ng-show="halftimeShow" class="fxScreen">
		<div class="decoration-bar">
			<div class="fire-bar"></div>
			<h1 class="fx-text">HALFTIME</h1>
			<h1 class="player1Lead">PLAYER 1 IS IN THE LEAD</h1>
			<h1 class="player2Lead">PLAYER 2 IS IN THE LEAD</h1>
			<h1 class="playersTied">NEITHER PLAYER IS IN THE LEAD</h1>			
			<h1 class="wave2Start">WAVE 2: REFLEX</h1>
			<h1 class="endScreen">GAME OVER</h1>
			<h1 class="player1Win">PLAYER 1 HAS WON THE GAME</h1>
			<h1 class="player2Win">PLAYER 2 HAS WON THE GAME</h1>
			<h1 class="tieGame">THERE WAS NO WINNER</h1>
		</div>
	</div>
			<div id="p1-scorebox">
				<div id="p1-score-name"><h6 class="scaling-font">Score</h6></div>
				<!-- <div id="p1-timer-name"><h6>Timer</h6></div> -->	
				<div id="p1-score"><h3 class="sub-font-scale"> {{ score1.length-1 }} </h3></div>
				<!-- <div id="p1-timer"><h3 class="sub-font-scale"> {{ shotclock1 }} </h3></div> -->
			</div>

			<div class="playersTurn1"><h1 class="playersMarker">{{ markerFX }}</h1></div>
			<div class="playersTurn2"><h1 class="playersMarker">{{ markerFX }}</h1></div>
			<div class="player1Scored"><h5 class="p1ScoreText">P1 Scored</h5></div>
			<div class="player2Scored"><h5 class="p2ScoreText">P2 Scored</h5></div>

			<div id="p2-scorebox">
				<div id="p2-score-name"><h6 class="scaling-font">Score</h6></div>
				<div id="p2-score"><h3 class="sub-font-scale"> {{ score2.length-1 }} </h3></div>
			</div>

			<div id="main-timer">
				<div class="top-scoreboard">
				  <div id="p1-timer-name"><h6 class="white">Timer</h6></div>
				  <div id="timer-name"><h6 class="white">Clock</h6></div>
				  <div id="p2-timer-name"><h6 class="white">Timer</h6></div>
				</div>
				<div class="bottom-scoreboard">
				  <div id="p1-timer"><h6 class="danger1 timer-font-scale"> {{ shotclock1 }} </h6></div>
				  <div id="timer-count"><h6 class="timer-text"> {{ timer }} </h6></div>
				  <div id="p2-timer"><h6 class="danger2 timer-font-scale"> {{ shotclock2 }} </h6></div>
				</div>
			</div>

			<div class="momentum-bar">
				<div class="bar1">
				  <div class="scoring-bar1"></div>
			  </div>
			  <div class="bar2">
				  <div class="scoring-bar2"></div>
				</div>
			</div>

		</div>
		<div class="board-cover-left"></div>
		<div class="board-cover-center"></div>
		<div class="board-cover-right"></div>

		<div class="board-container">
			<div class="channel-left"></div>
			<div class="channel-right"></div>
			<div ng-repeat="box in boxrows track by $index" class="">
				<div ng-repeat="col in box track by $index" ng-click="makeMove($parent.$index, $index)" class="test">
					<div class="box-fill">
						<h1 class="markers"><span>_</span>{{ col }}</h1>
					</div>
					<!-- <h1 class="markers"></h1> -->
				</div>
			</div>
		</div>
		<div class="board-cover-bottom"></div>
	</div>
<!-- <span style="opacity: 0">_</span> -->
</body>
</html>